apiVersion: v1beta2
kind: LocalPolicy
metadata:
  name: default-policy
policies:
  default:
    mode: detect-learn
    customResponse: 403
    threatPreventionPractices: []
    accessControlPractices: []
    triggers: []
    sourceIdentifiers: {}
    trustedSources: []
    exceptions: []

  specificRules:
    - host: "test.example.com"
      mode: detect-learn
      customResponse: 403
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
    - host: "example1.com"
      mode: detect-learn
      customResponse: 403
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
    - host: "example2.com"
      mode: detect-learn
      customResponse: 403
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
    - host: "example3.com"
      mode: detect-learn
      customResponse: 403
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
