apiVersion: v1beta2
policies:
  default:
    mode: detect-learn
    threatPreventionPractices: []
    accessControlPractices: []
    triggers: []
    customResponse: 403
    sourceIdentifiers: ""
    trustedSources: ""
    exceptions: []

  specificRules:
    - host: "test.example.com"
      mode: detect-learn
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
      customResponse: 403
      sourceIdentifiers: ""
      trustedSources: ""
      exceptions: []
    - host: "example1.com"
      mode: detect-learn
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
      customResponse: 403
      sourceIdentifiers: ""
      trustedSources: ""
      exceptions: []
    - host: "example2.com"
      mode: detect-learn
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
      customResponse: 403
      sourceIdentifiers: ""
      trustedSources: ""
      exceptions: []
    - host: "example3.com"
      mode: detect-learn
      threatPreventionPractices: []
      accessControlPractices: []
      triggers: []
      customResponse: 403
      sourceIdentifiers: ""
      trustedSources: ""
      exceptions: []
